<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <a href="/logout">Logout</a>
    <div class="wrapper">
      <form class="add" action="/snippets" method="post">
        <input type="text" name="title" value="{{snippet.title}}" placeholder="Title"/>
        <input type="textarea" name="body" value="{{snippet.body}}" placeholder="Body"/>
        <input type="textarea" name="notes" value="{{snippet.notes}}" placeholder="Notes"/>
        <input type="text" name="language" value="{{snippet.language}}" placeholder="Language"/>
        <input type="text" name="tags" value="{{snippet.tags}}" placeholder="Tags"/>

        {{#if snippet._id}}
          <input type="hidden" name="_id" value="{{snippet._id}}" />
        {{/if}}

        <span><a href="/deleteSnippet/?id={{snippet._id}}">Delete</a></span>

        <button name="add"> + </button>
      </form>
    </div>
  </body>
</html>
